/* link visited hover active */
a:link{
    color: orange;
}
a:visited{
    color: red;
}
a:hover{
    color:aqua
}
a:active{
    color: black;
}

p:hover{
    color: aqua;
}
p:active{
    color: black;
    background: silver;
}
input:focus{
    border: 2px solid red;
    outline: none;
    padding: 5px;
}
input:required{
    color: red;
}
